<html>
<head>
<meta charset = "utf-8">
<title>Анализ рынка</title>
</head>
<body bgcolor="#98FB98">
<center>   
   <h2>Анализ состояния рынка</h2>

	<form action="http://127.0.0.1:8000/analyse/companies_news"
      method="GET">
	  <input type="submit" value="Новости всех компаний" />
	   </form>
	   
	 <form action="http://127.0.0.1:8000/analyse/experts_comments"
      method="GET">
	  <input type="submit" value="Комментарии экспертов" />
	   </form>  
	   
	 <form action="http://127.0.0.1:8000/analyse/secur_ch"
      method="GET">
	  <input type="submit" value="Выборочные новости" />
	   </form>
	   
	   <form action="http://127.0.0.1:8000/analyse/my_notes"
      method="GET">
	  <input type="submit" value="Мои наблюдения и идеи" />
	   </form>
	   
	   <form action="http://127.0.0.1:8000/analyse/secur_price"
      method="GET">
	  <input type="submit" value="Цены акций" />
	   </form>
	   
	 <form action="http://127.0.0.1:8000/analyse/tech_analyse"
      method="GET">
	  <input type="submit" value="Тех.анализ" />
	   </form>  
	   
	 <form action="http://127.0.0.1:8000/analyse/sites_list"
      method="GET">
	  <input type="submit" value="Список официальных сайтов компаний" />
	   </form>

	   <br />
	   	<form action="http://127.0.0.1:8000"
      method="GET">

	  <input type="submit" value="Назад" />
	   </form>
	</center> 
	</body>
</html>