<html>
<head>
<meta charset = "utf-8">
<title>Список полезных сайтов</title>
</head>
<body bgcolor="#98FB98">
<center>
<table border="1" width="50%" cellpadding="2"=>
 <p>{{success}}</p>
 
<h2>Список сайтов</h2>
 <tr>
<th>№ 16.00 16:55</th>
<th>Название сайта</th>
<th>Описание</th>
<th>Ссылка</th>
<th>id сайта</th>
</tr>
{% for i in useful_list %} 
<tr>
<td align = center>{{forloop.counter}}</td>
<td align = center nowrap>{{i.site_name}}</td>
<td align = center>{{i.description}}</td>
<td align = center nowrap width="16%"><a href = "{{i.link}}" target="_blank">{{i.link}}</a> </td>
<td align = center>{{i.id}}</td>
</tr>
{% endfor %} 
</table>
<h3>Изменение сайта</h3>

  <form method="POST">{% csrf_token %}
	<p><select name="choice_site">
	<option>Выберите сайт</option>
	{% for i in useful_list %}
   <option value={{i.id}}>{{i.site_name}}(id= {{i.id}})</option>
	{% endfor %}
  </select>
<p><b>Выберите команду:</b><Br>
   <input type="radio" name="choice_action" value="modify" checked> Изменить<Br>
   <input type="radio" name="choice_action" value="delete"> Удалить<Br>
  </p>
  
  <input type="submit" name="execute" value="Выполнить"></p>
  </form> 

	<form action="http://127.0.0.1:8000/useful_data/useful_add"
      method="GET">
	  <input type="submit" value="Добавить сайт" />
	   </form>

	<form action="http://127.0.0.1:8000/"
      method="GET">
	  <input type="submit" value="Назад" />
	   </form>
	{% if success != "" %}   
	<script type="text/javascript"> 
document.location.href ="http://127.0.0.1:8000/useful_data";</script>    
	   {% endif %}
</center>
</body>
</html>